* {
    margin: 0;
    padding: 0;
}

body {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStxCBJnMMgSHMWrK5YMGu8J8yyWhcXDhGmxA&s);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-top: 30px;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#stop-watch {
    margin-top: 170px;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
}

#stop-watch div {
    height: 150px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStxCBJnMMgSHMWrK5YMGu8J8yyWhcXDhGmxA&s);
    box-shadow: 10px 5px 5px #100c20
}

#stop-watch div>span {
    font-size: 26px;
}

#stop-watch div>button {
    height: 40px;
    width: 100px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStxCBJnMMgSHMWrK5YMGu8J8yyWhcXDhGmxA&s);
    box-shadow: 8px 5px 5px #000000;
}

#stop-watch div>button:hover {
    cursor: pointer;
}

.contect {
    width: 280px;
    display: flex;
    justify-content: center;
    background-color: #370ce3;
    color: #fff;
    position: fixed;
    top: 600px;
    left: 1050px;
    box-shadow: 10px 5px 5px #000000;
}

@media only screen and (max-width:600px) {
    #stop-watch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        position: relative;
        bottom: 100px;
    }

    #stop-watch div {
        height: 140px;
        width: 230px;
    }
}